/node_modules/
/addon/background_scripts
/addon/popup/index.js
/addon/popup/index.js.map
/addon/web-ext-artifacts
/.log/
*.DS_Store
/.DS_Store
/.envrc
/addon/.web-extension-id
/web-ext-artifacts/
/wakatime-source.zip
